
<!--
<div class="modal fade" id="projectCreationModal" tabindex="-1" aria-labelledby="projectCreationLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-success" id="projectCreationLabel">Create Project</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form>
              <div class="form-row">
                <input type="text" name="project_name" class="form-control" required placeholder="Enter Project Name">
              </div>
               <br>

              <div class="form-row">
                <input type="text" name="project_category" class="form-control" required placeholder="Select Category">
              </div>
              <br>
              <div class="form-row">
                  <textarea  name="project_description" class="form-control" required placeholder="Project Description"></textarea>
              </div>

              <br>
              <label class="text-success" for="date_field">End Date</label>
              <div class="form-row">
                <input type="datetime-local" id="date_field" name="estimated_end_date" class="form-control" placeholder="Estimated Completion Date">
              </div>


              <br>
              <button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-dark">Create</button>


          </form>
      </div>
    </div>
  </div>
</div>


-->

