<div class="modal fade" id="projectCreationModal" tabindex="-1" aria-labelledby="projectCreationLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="border: 1px solid black;" >
      <div class="modal-header">
        <h4 class="modal-title text-success" id="projectCreationLabel">Create Project</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form action="{% url 'create_project' %}" method="POST">
              {% csrf_token %}
              <label class="text-success" for="">Project Name:</label>
              <div class="form-row">
                {{project_creation_form.project_name}}
              </div>
               <br>
              <label class="text-success" for="">Project Category:</label>
              <div class="form-row">
                {{project_creation_form.project_category}}
              </div>
              <br>
              <label class="text-success" for="">Project Description:</label>
              <div class="form-group">
                  {{project_creation_form.project_description}}
              </div>
              <br>
              <label class="text-success" for="date_field">End Date:</label>
              <div class="form-row">
                <input type="datetime-local" name="estimated_end_date" class="form-control" required>
              </div>

              <br>
              <button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-dark">Create</button>
       </form>
      </div>
    </div>
  </div>
</div>
