{% extends 'base.html' %}


{% block content %}

<section class="section-content padding-y">
<div class="container mt-4">
    <div class="row">

        <div class="col-lg" style="">
            <div class="card h-90">
      <article class="card-body">
		<header class="mb-4 text-success"><h4 class="card-title">Edit Project</h4></header>
        <form action="{% url 'edit_project' project.id %}" method="POST">
      {% csrf_token %}
      <label class="text-success" for="">Project Name:</label>
      <div class="form-row">
        {{project_form.project_name}}
      </div>
       <br>
      <label class="text-success" for="">Project Category:</label>
      <div class="form-row">
        {{project_form.project_category}}
      </div>
      <br>
      <label class="text-success" for="">Project Description:</label>
      <div class="form-group">
          {{project_form.project_description}}
      </div>
      <br>
      <label class="text-success" for="date_field">End Date:</label>
      <div class="form-row">
        <input type="datetime-local"  name="estimated_end_date" class="form-control" required placeholder={{project_form.estimated_end_date}}
      </div>

      <br>
      <button type="submit" class="btn btn-dark">Update</button>
</form>

</article>
</div>
</div>

<div class="col-lg" style="">
<div class="card h-90">
    <div class="card-body ">
        <header class="mb-4 text-success"><h4 class="card-title">Existing Employees</h4></header>
    <table class="table" style="position: relative;height: 436px;overflow: auto;display: block;">
    <tr>
    <th>Employee Name</th>
    <th>Work Profile </th>
    <th>Remove</th>
  </tr>
          {% for employee in project.assignees.all %}
            <tr>
                <td><strong>{{employee}}</strong></td>
                <td><p class="text-center">{{employee.work_profile}}</p></td>
                <td><a class="text-success" href="{% url 'remove_user' project.id  employee.id %}" style="text-decoration: none">Remove</a></td>
            </tr>
            {% endfor %}

    </table>
    </div>
    </div>
</div>


<div class="col-lg" style="">
<div class="card h-90">
    <div class="card-body">
        <form action="{% url 'edit_project' project.id %}" class="d-flex"  method="POST">
            {% csrf_token %}
                <input class="form-control me-2" name="keyword" type="search" placeholder="Search Employees" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <br>
    <table class="table" style="position: relative;height: 427px;overflow: auto;display: block;">
    <tr>
    <th>Employee Name</th>
    <th>Work Profile </th>
    <th>Add</th>
  </tr>
          {% for employee in search_results %}
            <tr>
                <td><strong>{{employee}}</strong></td>
                <td><p class="text-center">{{employee.work_profile}}</p></td>
                <td><a class="text-success" href="{% url 'add_user' project.id  employee.id %}" style="text-decoration: none">Add</a></td>
            </tr>
            {% endfor %}
    </table>
    </div>
    </div>
</div>

</div>
</div>
</section>

<div class="container mt-2">
    <div class="row">
            <div class="col-lg-6" style="">
                <div class="card">
                        <a class="btn btn-outline-success" href="{% url 'create_ticket' project.id %}" style="text-decoration: none;"><h5 class="text-center" ><strong>Create Ticket</strong></h5></a>
                </div>
            </div>

            <div class="col-lg-6" style="">
                <div class="card">
                        <a class="btn btn-outline-success" href="{% url 'manage_ticket' %}" style="text-decoration: none;"><h5 class="text-center" ><strong>Manage Tickets</strong></h5></a>
                </div>
            </div>
    </div>
</div>

{% endblock %}