{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
 <div class="row">
    <div class="col-sm-3" style="">
      <div class="card bg bg-light" style="border: 1px solid black;">
    <div class="card-body text-center">
      <a href="{% url 'dashboard' %}" class="btn btn-outline-success"  style="text-decoration: none"><strong>All Projects</strong></a>
    <hr>

      <a href="{% url 'dashboard' request.user.id %}" class="btn btn-outline-success"  style="text-decoration: none"><strong>My Projects</strong></a>

    <hr>
      <a href="{% url 'user_ticket_dashboard' %}" class="btn btn-outline-success"  style="text-decoration: none"><strong>My Tickets</strong></a>
    <hr>
		  <a href="{% url 'get_notifications' %}" class="btn btn-outline-success"  style="text-decoration: none"><strong>What's New</strong></a>
    </div>
      </div>


    </div>


    <div class="col-lg" style="">
        <div class="card"  style="border: 1px solid black;">
  <div class="card">
    <div class="card-body">
    <table class="table table-light caption-top" style="position: relative;height: 560px;overflow: auto;display: block;" id="project_table">
  <caption><h3 class="text-success text-center"><strong>Projects List</strong></h3></caption>
  <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">
          Project Name
      </th>
      <th scope="col">Project Manager</th>
      <th scope="col">Project Category</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>

        <th scope="col">Delete</th>
        <th scope="col">Edit</th>

    </tr>
  </thead>
{% for project in projects %}
  <tbody>
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>


              <a href="{% url 'project_detail' project.id %}" style="text-decoration: none" ><strong class="text-success">{{project.project_name}}</strong></a>
      </td>

      <td>
          <a href="{% url 'manager_dashboard' project.project_manager.project_manager.id %}" style="text-decoration: none; color: hotpink;" class="text-dark">{{project.project_manager}}</a>
      </td>
      <td>
      <a href="{% url 'project_category_dashboard' project.project_category|slugify %}" style="text-decoration: none; color: hotpink;" class="text-dark">{{project.project_category}}</a>
      </td>
      <td>{{project.start_date}}</td>
      <td>{{project.estimated_end_date}}</td>
      {% if request.user.is_project_manager and project.project_manager.project_manager == request.user %}
        <td><a href="{% url 'delete_project' project.id %}" style="text-decoration: none; color: hotpink;" class="text-success">Delete</a></td>
        <td><a href="{% url 'edit_project' project.id %}" style="text-decoration: none; color: hotpink;" class="text-success">Edit</a></td>
      {% else %}
        <td>-</td>
        <td>-</td>
      {% endif %}
    </tr>
{% endfor %}
  </tbody>
</table>
      </div>
  </div>
      </div>
        </div>
    </div>
</div>

{% endblock %}

