{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
 <div class="row">
    <div class="col-sm-3" style="">
      <div class="card">
    <div class="card-body">
      <a href="{% url 'dashboard' %}" class="text-success"  style="text-decoration: none"><p class="text-center">All Project</p></a>
    <hr>
      <a href="{% url 'dashboard' request.user.id %}" class="text-success"  style="text-decoration: none"><p class="text-center">My Projects</p></a>

    <hr>
      <a href="#" class="text-success"  style="text-decoration: none"><p class="text-center">All Tickets</p></a>

    <hr>
      <a href="#" class="text-success"  style="text-decoration: none"><p class="text-center">My Tickets</p></a>
    </div>
      </div>


    </div>


    <div class="col-lg" style="">
        <div class="card">
  <div class="card">
    <div class="card-body">
    <table class="table caption-top" style="position: relative;height: 520px;overflow: auto;display: block;" id="project_table">
  <caption><h4 class="text-dark text-center">Projects List</h4></caption>
  <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Project Name</th>
      <th scope="col">Project Manager</th>
      <th scope="col">Project Category</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>

        <th scope="col">Delete</th>
        <th scope="col">Edit</th>

    </tr>
  </thead>
{% for project in projects %}
  <tbody>
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>


              <a href="{% url 'project_detail' project.id %}" style="text-decoration: none" ><strong class="text-success">{{project.project_name}}</strong></a>
      </td>

      <td>{{project.project_manager}}</td>
      <td>{{project.project_category}}</td>
      <td>{{project.start_date}}</td>
      <td>{{project.estimated_end_date}}</td>
      {% if request.user.is_project_manager and project.project_manager.project_manager == request.user %}
        <td><a href="{% url 'delete_project' project.id %}" style="text-decoration: none" class="text-success">Delete</a></td>
        <td><a href="{% url 'edit_project' project.id %}" style="text-decoration: none" class="text-success">Edit</a></td>
      {% else %}
        <td>-</td>
        <td>-</td>
      {% endif %}
    </tr>
{% endfor %}
  </tbody>
</table>
      </div>
  </div>
      </div>
        </div>
    </div>
</div>

{% endblock %}

