{% extends 'base.html' %}

{% block content %}
<div class="container">
 <div class="row bg-light">
    <div class="col-sm-3 mt-4" style="">
      <div class="card bg bg-light" style="border: 1px solid black;">
    <div class="card-body text-center">
      <a href="{% url 'dashboard' %}" class="btn btn-outline-success"  style="text-decoration: none"><strong>All Projects</strong></a>
    <hr>

      <a href="{% url 'dashboard' request.user.id %}" class="btn btn-outline-success"  style="text-decoration: none"><strong>My Projects</strong></a>

    <hr>
      <a href="{% url 'user_ticket_dashboard' %}" class="btn btn-outline-success"  style="text-decoration: none"><strong>My Tickets</strong></a>
    <hr>
		  <a href="{% url 'get_notifications' %}" class="btn btn-outline-success"  style="text-decoration: none"><strong>What's New</strong></a>
    </div>
      </div>


    </div>


    <div class="col-lg" style="">
        {% for notify in notification %}
        <div class="card mt-4 bg-seondary"  style="border: 2px solid black;">
        <div class="card-body">
           <strong> {{forloop.counter}})- </strong>{{notify.notification}}
        </div>
        </div>
        {% endfor %}


        </div>
        </div>
        </div>
    </div>

</div>

{% endblock %}

