{% extends 'base.html' %}

{% block content %}
{% load tz %}
<div class="container mt-4">

	<div class="row">
		<div class="col-sm-3" style="">
		  <div class="card bg bg-light" style="border: 1px solid black;">
		<div class="card-body text-center">
		  <a href="{% url 'dashboard' %}" class="btn btn-outline-success"  style="text-decoration: none"><strong>All Projects</strong></a>
		<hr>

		  <a href="{% url 'dashboard' request.user.id %}" class="btn btn-outline-success"  style="text-decoration: none"><strong>My Projects</strong></a>

		<hr>
		  <a href="{% url 'user_ticket_dashboard' %}" class="btn btn-outline-success"  style="text-decoration: none"><strong>My Tickets</strong></a>

		<hr>
		  <a href="{% url 'get_notifications' %}" class="btn btn-outline-success"  style="text-decoration: none"><strong>What's New</strong></a>

		</div>
		  </div>
		</div>


<div class="col-lg">
	<div class="card  bg-light" style="border: 1px solid black;">

{% load tz %}
<div class="container mt-2">
    <div class="card bg-light border-0" >
      <article class="card-body">
		  {% include 'includes/alerts.html' %}
		<header class="text-success"><h4><strong class="card-title">My Tickets</strong></h4></header>

		<form action = "{% url 'user_ticket_dashboard' %}" method="GET">

				<div class="form-group row">
					<div class="col form-group" style="">
			            <label class="text-success" for=""></label>
                        	<button class="btn btn-dark form-control" href="#"><strong>Filter</strong></button>
            		</div>
					<div class="col form-group">
							<label class="text-success" for="">Time Ordering</label>
							<select class="form-select" name="order_by">
							  <option value="1" selected>New One</option>
							  <option value="2">Old One</option>
							  <option value="3">End date</option>
							  <option value="4">- End Date</option>
							</select>
				</div> <!-- form-row end.// -->


					<div class="col form-group">
						<label class="text-success" for="project_id">Project Name:</label>
						<select class="form-control" name="project_id">
						<option value="">----Choose----</option>
						{% for choice in project_choice %}
							<option value="{{choice.0}}">{{choice.1}}</option>
						{% endfor %}
						</select>
					</div> <!-- form-group end.// -->

					<div class="col form-group">
			            <label class="text-success" for="">Task Type:</label>
						<select class="form-control" name="task_type">
						<option value="">----Choose----</option>
						{% for choice in task_type_choice %}
							<option value="{{choice.0}}">{{choice.1}}</option>
						{% endfor %}
						</select>
					</div> <!-- form-group end.// -->

					<div class="col form-group">
			            <label class="text-success" for="">Priority:</label>
						<select class="form-control" name="priority">
						<option value="">----Choose----</option>
						{% for choice in priority_choice %}
							<option value="{{choice.0}}">{{choice.1}}</option>
						{% endfor %}
						</select>
					</div> <!-- form-group end.// -->

					<div class="col form-group">
			            <label class="text-success" for="">Status:</label>
						<select class="form-control" name="status">
						<option value="">----Choose----</option>
						{% for choice in status_choice %}
							<option value="{{choice.0}}">{{choice.1}}</option>
						{% endfor %}
						</select>
					</div> <!-- form-group end.// -->
		</form>
		</article><!-- card-body.// -->
    </div> <!-- card .// -->
</div>




<div class="container mt-4">
	{% for task in tickets %}
	{% if task.status != 'Complete' %}
	<a class="nav-link" type="button"  data-bs-toggle="modal" data-bs-target="#{{task.id}}" style="text-decoration: none;">
	<div class="alert alert-{% if task.task_as_back_log %}danger{% elif task.status == 'Open' %}primary{% elif task.status == 'In Progress' %}info{% else %}success{% endif %}" role="alert">
		<strong class="text-muted"> Project: </strong>
		{{task.project}}
		<strong class="text-muted">| Status: </strong>
	    {{task.status|capfirst}}
	 	<strong class="text-muted">| Priority: </strong>
	    {{task.priority}}
		<strong class="text-muted">| Type: </strong>
	    {{task.task_type}}
		<strong class="text-muted">| Summary: </strong>
	    {{task.short_summary}}
	 	<hr>
	 	<p>{{task.description}}</p>
	 	<hr>
	<strong class="text-muted"> Created On: </strong>
	 {{task.start_date|timezone:"Asia/Kolkata"}}

	<strong class="text-muted">| Completion Deadline: </strong>
	 {{task.estimated_end_date|timezone:"Asia/Kolkata"}}

	</div>
	</a>

			<div class="modal fade" id="{{task.id}}" tabindex="-1" aria-labelledby="projectCreationLabel" aria-hidden="true">
		  <div class="modal-dialog">
			<div class="modal-content" style="border: 1px solid black;" >
			  <div class="modal-header">
				<h4 class="modal-title text-success" id="{{task.project}}Label">{{task.status}}</h4>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			  </div>
						  <div class="modal-body">
							  <form action="{% url 'user_update_status' task.id %}" method="POST">
								  {% csrf_token %}
								  <div class="form-group row">
									  <label class="text-success" for=""><strong>Update Status:</strong></label>
											<select class="form-control" name="status">
												<option value="" >----Choose----</option>
												<option value="{{task.get_status_choices.0}}">{{task.get_status_choices.1}}</option>

											</select>
								  </div> <!-- form-row.// -->
								  <br>
								  <button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>
								  <button type="submit" class="btn btn-dark">Update</button>
						   </form>
				</div>
			</div>
		  </div>
		</div>
	{% else %}
	<div class="alert alert-{% if task.task_as_back_log %}danger{% elif task.status == 'Open' %}primary{% elif task.status == 'In Progress' %}info{% else %}success{% endif %}" role="alert">
		<strong class="text-muted"> Project: </strong>
		{{task.project}}
		<strong class="text-muted">| Status: </strong>
	    {{task.status|capfirst}}
	 	<strong class="text-muted">| Priority: </strong>
	    {{task.priority}}
		<strong class="text-muted">| Type: </strong>
	    {{task.task_type}}
		<strong class="text-muted">| Summary: </strong>
	    {{task.short_summary}}
	 	<hr>
	 	<p>{{task.description}}</p>
	 	<hr>
	<strong class="text-muted"> Created On: </strong>
	 {{task.start_date|timezone:"Asia/Kolkata"}}

	<strong class="text-muted">| Completion Deadline: </strong>
	 {{task.estimated_end_date|timezone:"Asia/Kolkata"}}

	</div>
	{% endif %}
	{% endfor %}


</div>

</div>
    </div>
</div>
</div>
</div>
</div>




{% endblock %}