{% extends 'base.html' %}


{% block content %}
<div class="container">
    <div class="card mx-atuo" style="max-width:1400px; margin-top:60px">
      <article class="card-body">
		  {% include 'includes/alerts.html' %}
		<header class="mb-4 text-success"><h4 class="card-title">Create Ticket</h4></header>
		<form action = "{% url 'create_ticket' %}" method="POST">
				{% csrf_token %}
				<div class="form-group row">

					<div class="col form-group">
						<label class="text-success" for="project_id">Project Name:</label>
						<select class="form-control" name="project_id" value="{{project_choice.0}}">
							<option value="{{project_choice.0}}">{{project_choice.1}}</option>
						</select>

						<!--input type="text" class="form-control" name="project"-->
					</div> <!-- form-group end.// -->

					<div class="col form-group">
			            <label class="text-success" for="">Task Type:</label>
						{{form.task_type}}
						<!--input type="text" class="form-control" name="task_type"-->
					</div> <!-- form-group end.// -->

					<div class="col form-group">
			            <label class="text-success" for="">Priority:</label>
						{{form.priority}}
						<!--input type="text" class="form-control" name="priority"-->
					</div> <!-- form-group end.// -->

					<div class="col form-group">
			            <label class="text-success" for="">Status:</label>
						{{form.status}}
						<!--input type="text" class="form-control" name="status"-->
					</div> <!-- form-group end.// -->


					<div class="col form-group">
			            <label class="text-success" for="">End Time:</label>
						<input type="datetime-local" class="form-control" name="estimated_end_date">
					</div> <!-- form-group end.// -->
				</div> <!-- form-row end.// -->
				<br>

				<div class="form-group row">
					<div class="col form-group">
			            <label class="text-success" for="" required>Short Summary:</label>
						<input type="text" class="form-control" name="short_summary">
					</div> <!-- form-group end.// -->
					<div class="col form-group">
						<label class="text-success" for="assignee_id">Assign To:</label>
						<select class="form-control" name="assignee_id" required>
						<option value="">----Pick Name----</option>
						{% for choice in assignee_choice %}
							<option value="{{choice.0}}">{{choice.1}}</option>
						{% endfor %}
						</select>
					</div>

				</div> <!-- form-row end.// -->
				<br>
				<div class="form-group row">

					<div class="col form-group">
			            <label class="text-success" for="">Description:</label>
						<textarea  class="form-control" name="description" rows="3" required></textarea>
					</div> <!-- form-group end.// -->

				</div> <!-- form-row end.// -->

				<br>

			    <div class="form-group ">
			        <button type="submit" class="btn btn-dark btn-block"> Create </button>
			    </div> <!-- form-group// -->
			<br>



		</form>
		</article><!-- card-body.// -->
    </div> <!-- card .// -->
</div>


{% endblock %}